/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed by Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2023 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --primaryColor :#ffc107;
    --primaryDark: #a97e00;
    --white:  #fff;
    --black :#000;
    --text:#474747;
    --textDark: #212529;
    --grey:#f3f3f3;
}

body {
    font-family: 'Lexend', sans-serif;
    direction: ltr;
    text-align: left;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 300;
}

.enFont {
    font-family: 'Open Sans';
}

.stopScroll {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    color: var(--text);
    line-height: 27px;
}

.secPadding {
    padding: 100px 0;
    overflow: hidden;
}

.secPaddingSm {
    padding: 40px 0;
    overflow: hidden;
}

/**************************************************************************************************/
/*******************************************    Buttons   ******************************************/
/**************************************************************************************************/

.siteBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.primaryBtn {
    color: var(--textDark);
    background: var(--primaryColor);
    margin-inline-end: 30px;
    border: 0;
}

.primaryBtn:before,
.primaryBtn:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background: var(--primaryDark);
    border-radius: 50%;
}

.primaryBtn:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.primaryBtn:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.primaryBtn:hover:before {
    -webkit-animation: cross-left 0.8s both;
    animation: cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.primaryBtn:hover:after {
    -webkit-animation: cross-right 0.8s both;
    animation: cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.outlineBtn {
    color: var(--primaryColor);
    background: transparent;
    border: 1px solid var(--primaryColor);
}

.outlineBtn:before,
.outlineBtn:after {
    content: "";
    height: 500px;
    width: 500px;
    position: absolute;
    top: 150%;
    transition: all 1.4s ease;
    border-radius: 60% 70% 20% 40%;
    background: var(--primaryColor);
}

.outlineBtn:before {
    opacity: 0.2;
    -webkit-animation: water 13s ease-in-out infinite both alternate;
    animation: water 13s ease-in-out infinite both alternate;
}

.outlineBtn:after {
    opacity: 0.5;
    -webkit-animation: water 14s ease-in-out infinite both alternate;
    animation: water 14s ease-in-out infinite both alternate;
}

.outlineBtn:hover:before,
.outlineBtn:hover:after {
    opacity: 1;
    top: -100%;
}

.siteBtn span {
    display: flex;
    align-items: center;
    color: inherit;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.siteBtn:hover span {
    color: var(--white);
}

@media screen and (max-width:768px) {
    .siteBtn {
        font-size: 13px;
        height: 40px;
    }

    .primaryBtn {
        margin-inline-end: 15px;
    }
}


/**************************************************************************************************/
/*******************************************    Header   ******************************************/
/**************************************************************************************************/

.header {
    position: relative;
    padding: 30px 0;
    background: url('../images/slide.jpg') no-repeat;
    background-size: cover;
    border-radius: 0 0 0 180px;
    min-height: calc(100vh + 200px);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 9;
    padding: 10px 13.5%;
    box-shadow: 2px 0 35px 0 rgb(24 24 24 / 15%);
    transition: all .4s ease;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu ul {
    display: flex;
    align-items: center;
}

.navMenu li {
    margin: 0 15px;
}

.navMenu a {
    color: var(--white);
    font-size: 13px;
    text-transform: capitalize;
    position: relative;
}

.navMenu .active a {
    color: var(--primaryColor);
}

.navMenu a::before {
    position: absolute;
    top: -1px;
    left: 0px;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    word-break: normal;
    content: attr(data-text);
    transition-timing-function: cubic-bezier(0.39, 0.13, 0.55, 0.88);
    transition-duration: 0.9s;
    transition-property: width;
    will-change: width;
    -webkit-text-fill-color: var(--primaryColor);
    -webkit-text-stroke: unset;
}

.navMenu a:hover::before {
    width: 100%;
}

.language {
    margin-inline-start: 40px;
}

.language a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--grey);
    background: #6c757d;
    color: var(--white);
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.language a:hover {
    border-color: var(--primaryColor);
    background: var(--primaryColor);
}

.mb {
    display: none;
}

.headerSlider {
    padding: 60px 0;
    color: var(--white);
}

.headerSlider h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 37px;
}

.headerSlider p {
    color: inherit;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
    max-width: 500px;
}

.headerSlider .owl-dots {
    display: flex;
    padding-top: 90px;
}

.headerSlider .owl-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-inline-end: 10px;
}

.headerSlider .owl-dot.active::before {
    content: '';
    width: 11px;
    height: 12px;
    background: var(--white);
    display: flex;
    border-radius: inherit;
}

@media screen and (max-width:768px) {
    .header {
        padding: 15px 0;
        min-height: 100vh;
        border-radius: 0 0 0 100px;
    }

    .navWrapper {
        margin-bottom: 40px;
    }

    .sticky {
        padding: 10px 15px;
    }

    .logo {
        max-width: 100px;
    }
    
    .sticky .logo {
        max-width: 80px;
    }

    .navMenu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background: var(--black);
        z-index: 10;
        transition: all .7s ease-in-out;
        transform: translateX(100%);
    }

    .navMenu.show {
        transform: translateX(0%);
    }

    .navMenu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navMenu li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #343535;
    }

    .navMenu a {
        display: flex;
        padding: 15px;
        font-size: 13px;
    }

    .navMenu a:hover::before {
        padding: 15px;
        top: 0px;
    }

    .mb {
        display: block;
    }

    .menuBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 25px;
        height: 18px;
        margin-inline-start: 20px;
    }

    .menuBtn span {
        width: 100%;
        height: 2px;
        background: var(--primaryColor);
    }

    .menuBtn:hover span {
        background: var(--primaryColor);
    }

    .bodyOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }

    .bodyOverlay.show {
        opacity: 1;
        visibility: visible;
    }

    .headerSlider {
        padding: 40px 0 0 0;
    }
    
    .headerSlider h1 {
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1.6;
    }

    p {
        font-size: 14px;
        line-height: 1.9;
    }

    .headerSlider .owl-dots {
        padding-top: 60px;
    }
}

/**************************************************************************************************/
/**************************************      materials       **************************************/
/**************************************************************************************************/

.materials {
    padding-inline-start: 16%;
    margin-top: -100px;
    overflow: hidden;
}

.materialsContent {
    padding: 150px 0 30px;
}

.materials h2 {
    text-transform: capitalize;
}

.materials p {
    font-size: 14px;
}

.materialsSlider .owl-stage {
    display: flex;
    left: -35px;
}

.materialsSlider .item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

.material {
    border-radius: 50px 0;
    overflow: hidden;
    position: relative;
}

.material img {
    border-radius: inherit;
}

.materialTitle {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15% 5%;
    color: var(--white);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.material:hover .materialTitle {
    align-items: center;
    background: rgba(0, 0, 0, .6);
    color: var(--primaryColor)
}

.materialTitle h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}


@media screen and (max-width:768px) {
    .materials {
        padding: 15px;
        margin: 0;
    }
    
    .materialsContent {
        padding: 30px 0;
    }
    
    .materialsSlider .owl-stage {
        left: 0;
    }
}

/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/

.collection {
    position: relative;
}

.collection::before {
    content: '';
    background: var(--grey);
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    border-radius: 200px 200px 0 0;
    background: linear-gradient(180deg, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);
}

.secHead {
    text-align: center;
    margin-bottom: 60px;
}

.secHead h2 {
    text-transform: capitalize;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-count: 4;
    column-gap: 20px;
}

.grid-item {
    position: relative;
    height: 430px;
    overflow: hidden;
    border-radius: 0 50px;
    margin-bottom: 20px;
}

.grid-item:nth-child(7n+7),
.grid-item:nth-child(5n+5),
.grid-item:nth-child(4),
.grid-item:nth-child(2) {
    height: 350px;
}

.grid-item:nth-child(8n+8),
.grid-item:nth-child(6n+6),
.grid-item:nth-child(3n+3):not(:nth-child(3)) {
    margin-top: -80px;
}

.grid-item img {
    border-radius: inherit;
}

.grid-item-title {
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 0, .8);
    color: var(--white);
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.grid-item-title h3 {
    font-size: 17px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
}

.readMore {
    padding: 50px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readMore .siteBtn {
    width: 200px;
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 60px 0;
    }

    .collection::before {
        border-radius: 100px 100px 0 0;
    }

    .grid-item {
        height: 350px;
        margin-bottom: 15px;
    }

    .grid-item-title {
        width: fit-content;
        min-width: 55%;
    }

    .grid-item-title h3 {
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
    
    .grid-item:nth-child(8n+8), .grid-item:nth-child(6n+6), .grid-item:nth-child(3n+3):not(:nth-child(3)) {
        margin: 0;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
    
    .grid-item:nth-child(8n+8), .grid-item:nth-child(6n+6), .grid-item:nth-child(3n+3):not(:nth-child(3)) {
        margin: 0;
    }
}


/**************************************************************************************************/
/****************************************      Footer       ****************************************/
/**************************************************************************************************/

.footer {
    background: var(--black);
    padding: 100px 0 20px;
    border-radius: 200px 200px 0 0;
    color: var(--white);
    overflow: hidden;
}

.footer .logo {
    max-width: 200px;
    margin-bottom: 40px;
}

.footer .logo img {
    filter: brightness(0) invert(1);
}

.footer p {
    color: inherit;
    font-size: 15px;
    max-width: 500px;
    line-height: 35px;
}

.footer h3 {
    text-transform: capitalize;
    margin-bottom: 30px;
}

.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contacts img {
    margin-inline-end: 10px;
}

.footer a {
    color: inherit;
    text-transform: capitalize;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 35px;
    transition: all .4s ease-in-out;
}

.footer a:hover {
    color: var(--primaryColor);
    transform: translateX(10px);
}

.copyright {
    border-top: 1px solid #6f6f6f;
    margin-top: 40px;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright ul {
    display: flex;
    flex-wrap: wrap;
}

.copyright a {
    margin-inline-end: 25px;
}

.copyright a:hover {
    transform: translateY(-10px);
}


@media screen and (max-width:768px) {
    .footer {
        border-radius: 100px 100px 0 0;
        padding: 50px 0 20px;
    }
    
    .footer .logo {
        max-width: 140px;
        margin-bottom: 25px;
    }

    .footer p {
        font-size: 14px;
    }
    
    .footer h3 {
        font-size: 25px;
    }
    
    .copyright {
        flex-direction: column;
    }  
}

@media screen and (max-width:425px) {
    .footer {
        border-radius: 60px 60px 0 0;
    }

    .copyright ul {
        justify-content:center;
    }
}


/**************************************************************************************************/
/****************************************      Single      ****************************************/
/**************************************************************************************************/

.downloads {
    position: relative;
    border-radius: 100px 7px;
    padding: 5px;
    color: var(--black);
}

.downloads::before ,
.downloads::after {
    content: '';
    position: absolute;
}

.downloads::before {  
    width: 100%;
    height: 100%;
    border: 2px solid var(--primaryColor);
    border-width: 0 2px 2px 0;
    display: flex;
    top: 0;
    left: 0;
    border-radius: inherit;
}

.downloads::after {
    bottom: 10%;
    left: -1px;
    height: 30%;
    width: 2px;
    background: var(--primaryColor);
}

.downloadsWrapper {
    background: rgba(255,255,255,.8);
    border-radius: inherit;
    padding: 15% 10%;
}

.downloadsWrapper::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 38%;
    height: 2px;
    width: 45%;
    background: var(--primaryColor);
}

.downloadsWrapper::after {
    content: '';
    position: absolute;
    top: 20%;
    left: -1px;
    height: 20%;
    width: 2px;
    background: var(--primaryColor);
}

.downloads h2 {
    text-transform: capitalize;
    font-weight: 700;
}

.downloads p {
    color: inherit;
    margin-bottom: 30px;
}

.downloads a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #6c757d;
    padding: 10px 0;
    color: inherit;
    text-transform: capitalize;
    font-weight: 500;
}

.downloads a:hover {
    color: var(--primaryColor);
}

@media screen and (max-width:425px) {
    .downloads {
        margin: 40px 20px;
    }
}



/**************************************************************************************************/
/****************************************      Features     ****************************************/
/**************************************************************************************************/

.feature {
    border-inline-start: 5px solid var(--primaryColor);
    padding: 0 15px;
}

.feature h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 30px;
}

.feature p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}


@media screen and (max-width:425px) {
    .feature {
        margin-bottom: 30px;
    }

    .feature h2 {
        font-size: 20px;
    }
}


/**************************************************************************************************/
/****************************************      Colors       ****************************************/
/**************************************************************************************************/

.colors .secHead h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.colorsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.color {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid #6c757d;
}

.color img {
    border-radius: inherit;
}

@media screen and (max-width:768px) {    
    .colors .secHead h2 {
        font-size: 23px;
    }

    .colorsList {
        justify-content: center;
    }

    .color {
        height: 105px;
        width: 105px;
        margin: 5px;
    }
}


/**************************************************************************************************/
/****************************************       AR        ****************************************/
/**************************************************************************************************/

.ar {
    direction: rtl;
    text-align: right;
}

.ar .materialsSlider .owl-stage {
    left: auto;
    right: -35px;
}

.ar .material {
    border-radius: 0 50px;
}

.ar .grid-item {
    border-radius: 50px 0;
}

@media screen and (max-width:768px) {
    .ar .navMenu {
        transform: translateX(-100%);
        left: 0;
        right: auto;
    }
    
    .ar .navMenu.show {
        transform: translateX(0%);
    }
}


/******************************************************************************************************/
/****************************************          Loader     ****************************************/
/*****************************************************************************************************/
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    z-index: 999;
}

.loaderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader svg {
    width: 135px;
    height: 135px;
    margin-bottom: 15px;
}

.loader polygon {
    fill: transparent;
    stroke: var(--primaryColor);
    stroke-width: 2;
    stroke-dasharray: 50;
    animation: triangle 2.5s linear infinite;
}

@-webkit-keyframes triangle {
  to {
    stroke-dashoffset:100; 
  }
}

@keyframes triangle {
  to {
    stroke-dashoffset:100; 
  }
}

/*==========================||---------------------------||========================*/
/*==========================||         Animation         ||========================*/
/*==========================||---------------------------||========================*/

@-webkit-keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}

@keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}