/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed by Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2023 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {}

body {
    font-family: 'Lexend', sans-serif;
    direction: ltr;
    text-align: left;
    overflow-x: hidden;
    color: #000;
    font-weight: 300;
}

.enFont {
    font-family: 'Open Sans';
}

.stopScroll {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    color: #474747;
    line-height: 27px;
}

.secPadding {
    padding: 100px 0;
    overflow: hidden;
}

/**************************************************************************************************/
/*******************************************    Buttons   ******************************************/
/**************************************************************************************************/

.siteBtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.primaryBtn {
    color: #212529;
    background: #ffc107;
    margin-inline-end: 30px;
    border: 0;
}

.primaryBtn:before,
.primaryBtn:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background: #a97e00;
    border-radius: 50%;
}

.primaryBtn:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.primaryBtn:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.primaryBtn:hover:before {
    -webkit-animation: cross-left 0.8s both;
    animation: cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.primaryBtn:hover:after {
    -webkit-animation: cross-right 0.8s both;
    animation: cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.outlineBtn {
    color: #ffc107;
    background: transparent;
    border: 1px solid #ffc107;
}

.outlineBtn:before,
.outlineBtn:after {
    content: "";
    height: 500px;
    width: 500px;
    position: absolute;
    top: 150%;
    transition: all 1.4s ease;
    border-radius: 60% 70% 20% 40%;
    background: #ffc107;
}

.outlineBtn:before {
    opacity: 0.2;
    -webkit-animation: water 13s ease-in-out infinite both alternate;
    animation: water 13s ease-in-out infinite both alternate;
}

.outlineBtn:after {
    opacity: 0.5;
    -webkit-animation: water 14s ease-in-out infinite both alternate;
    animation: water 14s ease-in-out infinite both alternate;
}

.outlineBtn:hover:before,
.outlineBtn:hover:after {
    opacity: 1;
    top: -100%;
}

.siteBtn span {
    display: flex;
    align-items: center;
    color: inherit;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.siteBtn:hover span {
    color: #fff;
}

@media screen and (max-width:768px) {
    .siteBtn {
        font-size: 13px;
        height: 40px;
    }

    .primaryBtn {
        margin-inline-end: 15px;
    }
}


/**************************************************************************************************/
/*******************************************    Header   ******************************************/
/**************************************************************************************************/

.header {
    position: relative;
    padding: 30px 0;
    background: url('../images/slide.jpg') no-repeat;
    background-size: cover;
    border-radius: 0 0 0 180px;
    min-height: calc(100vh + 200px);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 10px 13.5%;
    box-shadow: 2px 0 35px 0 rgb(24 24 24 / 15%);
    transition: all .4s ease;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu ul {
    display: flex;
    align-items: center;
}

.navMenu li {
    margin: 0 15px;
}

.navMenu a {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    position: relative;
}

.navMenu .active a {
    color: #ffc107;
}

.navMenu a::before {
    /* color: #fecc04; */
    position: absolute;
    top: -1px;
    left: 0px;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    word-break: normal;
    content: attr(data-text);
    transition-timing-function: cubic-bezier(0.39, 0.13, 0.55, 0.88);
    transition-duration: 0.9s;
    transition-property: width;
    will-change: width;
    -webkit-text-fill-color: #ffc107;
    -webkit-text-stroke: unset;
}

.navMenu a:hover::before {
    width: 100%;
}

.language {
    margin-inline-start: 40px;
}

.language a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #f3f3f3;
    background: #6c757d;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.language a:hover {
    border-color: #ffc107;
    background: #ffc107;
}

.mb {
    display: none;
}

.headerSlider {
    padding: 60px 0;
    color: #fff;
}

.headerSlider h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 37px;
}

.headerSlider p {
    color: inherit;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
    max-width: 500px;
}

@media screen and (max-width:768px) {
    .header {
        padding: 15px 0;
    }

    .logo {
        max-width: 100px;
    }

    .navMenu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background: #fff;
        z-index: 10;
        transition: all .7s ease-in-out;
        transform: translateX(100%);
    }

    .navMenu.show {
        transform: translateX(0%);
    }

    .navMenu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navMenu li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #e0fbff;
    }

    .navMenu a {
        display: flex;
        padding: 10px 15px;
        font-size: 13px;
    }

    .headerNav .primaryBtn {
        width: 90px;
        padding: 5px 15px;
        margin-inline-start: auto;
        margin-inline-end: 15px;
    }

    .mb {
        display: block;
    }

    .menuBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 25px;
        height: 18px;
        margin-inline-start: 20px;
    }

    .menuBtn span {
        width: 100%;
        height: 2px;
        background: #ffc107;
    }

    .menuBtn:hover span {
        background: #ffc107;
    }

    .bodyOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9;
        opacity: 0;
        visibility: hidden;
    }

    .bodyOverlay.show {
        opacity: 1;
        visibility: visible;
    }

    .header h1 {
        font-size: 30px;
        line-height: 1.6;
        max-width: 390px;
    }

    p {
        font-size: 14px;
        line-height: 1.9;
    }
}

/**************************************************************************************************/
/**************************************      materials       **************************************/
/**************************************************************************************************/

.materials {
    padding-inline-start: 16%;
    margin-top: -100px;
}

.materialsContent {
    padding: 150px 0 30px;
}

.materials h2 {
    text-transform: capitalize;
}

.materials p {
    font-size: 14px;
}

.materialsSlider .owl-stage {
    display: flex;
    right: -175px;
}

.materialsSlider .item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

.material {
    border-radius: 50px 0;
    overflow: hidden;
    position: relative;
}

.material img {
    border-radius: inherit;
}

.materialTitle {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15% 5%;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.material:hover .materialTitle {
    align-items: center;
    background: rgba(0, 0, 0, .6);
    color: #ffc107
}

.materialTitle h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}


@media screen and (max-width:768px) {}

/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/

.secHead {
    text-align: center;
    margin-bottom: 60px;
}

.secHead h2 {
    text-transform: capitalize;
    font-weight: 700;
}

/* .collection .row {
    margin: 0 -8px;
}

.collection .col-12 {
    padding: 7px;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-count: 4;
    column-gap: 20px;
}

.grid-item {
    position: relative;
    height: 430px;
    overflow: hidden;
    border-radius: 0 50px;
    margin-bottom: 20px;
}

.grid-item:nth-child(7n+7),
.grid-item:nth-child(5n+5),
.grid-item:nth-child(4),
.grid-item:nth-child(2) {
    height: 350px;
}

.grid-item:nth-child(8n+8),
.grid-item:nth-child(6n+6),
.grid-item:nth-child(3n+3):not(:nth-child(3)) {
    margin-top: -80px;
}

.grid-item img {
    border-radius: inherit;
}

.grid-item-title {
    position: absolute;
    top: 20px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.grid-item-title h3 {
    font-size: 17px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
}

.readMore {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readMore .siteBtn {
    width: 200px;
}

@media screen and (max-width:768px) {}


/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/


@media screen and (max-width:768px) {}


/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/


@media screen and (max-width:768px) {}


/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/


@media screen and (max-width:768px) {}


/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/


@media screen and (max-width:768px) {}


/**************************************************************************************************/
/****************************************      Posts       ****************************************/
/**************************************************************************************************/


@media screen and (max-width:768px) {}


/******************************************************************************************************/
/****************************************         Footer      ****************************************/
/*****************************************************************************************************/


/*==========================||---------------------------||========================*/
/*==========================||         Animation         ||========================*/
/*==========================||---------------------------||========================*/

@-webkit-keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}

@keyframes water {
    0% {
        transform: rotate(0);
    }

    20% {
        border-radius: 50% 63% 80% 49%;
    }

    40% {
        border-radius: 60% 64% 64% 48%;
    }

    60% {
        border-radius: 80% 63% 51% 49%;
    }

    80% {
        border-radius: 40% 60% 42% 58%;
    }

    100% {
        border-radius: 62% 67% 70% 53%;
        transform: rotate(180deg);
    }
}